.app {
    text-align: center;
}

.header {
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}
  
  
  
  
  