/*
  ===================================================
  Page setup
  ===================================================
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }


body {
  box-sizing: border-box;
 
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; 
  background-color: #ccc;
}

.error {
  width: 100%;
  margin: 40px 0;
  text-align: center;
  color: #d64d96;
}
